* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 auto;
  font-size: 10px;
  font-family: 'Lemonada', cursive;
  max-width: 1200px;
}

.none {
  display: none;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}