.slider-block {
  height: 70vh;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.slider__item {
  margin: 0 18px;
  flex: 0 0 21%;
  height: 400px;
  background-color: brown;
}