.login-page {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 50px;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgba($color: #fff, $alpha: 0.4);
  padding: 20px;

  * {
    width: 100%;
  }
}

.registration__title {
  @include text(3rem, 1, $text-light);
  padding-bottom: 30px;
  text-align: center;
}

input {
  @include text(2rem, 1.5, $text-dark);
  margin-bottom: 30px;
}