.cards-page__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.cards-page__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0;
  cursor: pointer;
  transition: 0.5s;
  transform-style: preserve-3d;

  &:hover {
    box-shadow: 0 4px 10px 0;
  }

  @media screen and (max-width: 1200px) {
    width: 285px;
    height: 285px;
  }

  @media screen and (max-width: 768px) {
    width: 285px;
    height: 285px;
  }
}

.translate {
  transform: rotateY(180deg);
}

.cards-page__item img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.cards-page__item-name {
  font-size: 2rem;
  margin-bottom: 20px;
  color: $item-name-color;
  text-shadow: 1px 1px 2px black;

  &_translate {
    transform: rotateY(180deg);
  }
}

.rotate {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 8px;
  bottom: 8px;
  border-radius: 50%;
  background-color: #0005;
  backface-visibility: hidden;

  &:hover {
    background-color: #0009;
  }
}