.main-page__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.main-page__item {
  @include gradient(bottom, $main-page__item-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px 0;
  }

  @media screen and (max-width: 1200px) {
    width: 285px;
    height: 285px;
  }

  @media screen and (max-width: 768px) {
    width: 285px;
    height: 285px;
  }
}

.main-page__item img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid white;
  margin-top: 20px;
}

.main-page__item-name {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: $item-name-color;
  text-shadow: 1px 1px 2px black
}
